.DS_Store
*.log
*.7z
.tubitblockData/
tubitblock-link/node_modules/
tubitblock-link/.tubitblockData/
tubitblock-link/tmp/
tubitblock-link/tools/Arduino/hardware/
tubitblock-link/tools/Arduino/tools/
*.pyc
